{% extends 'myapp/base.html' %} {% block body %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-8">
      <form class="p-3 shadow" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            class="form-control p-3 mb-3"
            type="text"
            name="name"
            id="name"
            placeholder="Enter task"
          />
          <input
            class="form-control p-3 mb-3"
            type="text"
            name="priority"
            id="priority"
            placeholder="Enter task priority"
          />
        </div>
        <input class="btn btn-success p-3 m-3" type="submit" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
